 aside{
    width: 440px;
    background: linear-gradient(329.54deg, #fa8f1d 0%, rgba(255,130,0,0.25) 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

aside h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 1px;
    margin-left: -40px;
    margin-right: -40px;
}
aside .CRA-RR{
    margin-top: -100px;
    margin-right: -40px;
    margin-left: -40px;
    width: 350px;
    height: 350px;
}
aside .espaco{
    width: 350px;
    height: 70px;
}

aside .corpo{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

aside  .enter-app{
    display:flex;
    flex-direction: column;
    
    line-height:24px;
}

aside .botao{
    background: #ffd666;
    color:black;
    border-radius: 30px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.botao:hover{
    background: #ff4800;
    color:white;
}



aside footer{
   display:flex;
   flex-direction: column;
   
    color: white;
   line-height:24px;
}




