#page-CreateUser {
    display: flex;
    
  }
  
  #page-CreateUser main {
    flex: 1;
  }
  
  .create-user-form {
    width: 700px;
    margin: 64px auto;
  
    background:  #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 64px 80px;
  
    overflow: hidden;
  }
  .create-user-form .leaflet-container {
    margin-bottom: 40px;
    border: 1px solid #d3d2d5;
    border-radius: 20px;
  }

  .create-user-form .input-block-setor{
    margin-top:25px;
  }
  
  .create-user-form .input-block-setor .radium{
    color: black;
    line-height: 20px;
    margin-left: 25px;
    
  }
  .create-user-form .input-block-setor .radium input{
    height: 20px;
    margin-left: 2px;
    border-color: #8FA7B3;
    cursor:pointer;
    
  }
  .create-user-form .input-block-setor span {
    margin-left: 45px;
    color: #8FA7B3;
    line-height: 20px;
  }

  .create-user-form .input-block-setor label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  .create-user-form fieldset {
    border: 0;
  }
  
  .create-user-form fieldset + fieldset {
    margin-top: 80px;
  }
  
  .create-user-form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
    font-weight: 700;
  
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 40px;
    padding-bottom: 24px;
  }
  
  .create-user-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  .create-user-form .input-block label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  .create-user-form .input-block label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  .create-user-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  .create-user-form .input-block-senha label {
    display: flex;
    color: #8FA7B3;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  .create-user-form .input-block-senha label span {
    font-size: 14px;
    color: #8FA7B3;
    margin-left: 24px;
    line-height: 24px;
  }
  
  .create-user-form .input-block-senha #senha{
    width: 90%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
     height: 64px;
    padding: 0 16px;
  }

  .create-user-form .input-block-senha span{
    font-size: 14px;
    color: #8FA7B3;
    
  }
  .create-user-form .input-block-senha {
    position:relative;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .create-user-form .input-block-senha .Check{
    position:relative;
    margin-left: 5px;
    cursor: pointer;
  }

  .create-user-form .input-block input,
  .create-user-form .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
  }
  
  .create-user-form .input-block input {
    height: 64px;
    padding: 0 16px;
  }
  
  .create-user-form .input-block textarea {
    min-height: 120px;
    max-height: 240px;
    resize: vertical;
    padding: 16px;
    line-height: 28px;
  }
  
 .create-user-form .input-block .button-select {
    text-align: center;
  }
  
  .create-user-form .input-block .button-select button {
    height: 64px;
    margin-right: 50px;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    color: #5C8599;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .create-user-form .input-block .button-select button.active {
    background: #ffd666;
    border: 1px solid #fa8f1d;
    color: #fa8f1d;
  }
  
  .create-user-form .input-block .button-select button:hover {
    background: #ff9e44;
    border: 1px solid #f77f00;
    color: #fff3e7;
  }
  
  .create-user-form button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  
  .create-user-form button.confirm-button svg {
    margin-right: 16px;
  }
  
  .create-user-form button.confirm-button:hover {
    background: #36CF82;
  }
.radium{
  margin-bottom:25px;

}

.lista {
  
  cursor:initial;
  box-Shadow: 1px 3px 4px grey;
  border-Radius: 16px;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  position: relative;
  background: #ffd666;
}
.numeracao{
  cursor:text;
  font-Weight: bold;
  position: absolute;
  font-Size: 1em;
  color: #000000;

}
.nomedoc{
  cursor:text;
  font-Weight: bold;
  position: absolute;
  font-Size: 1em;
  color: #000000;
  margin-left: 3ch;

  max-width: 23ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.descricao{
  
  cursor:text;
  font-Weight: bold;
  left: 35ch;
  margin-top: 5px;
  position: absolute;
  font-Size: 14px;
  color: #000000;
  
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.botao-list{
  cursor: pointer;
  left: 38ch;
  margin-right: 10px;
  position: relative;
 
  
}
.botao-list:hover{
  color:black;
  background: #ff4800;
}