#page-inicial{
    display: flex;
    

}

#page-inicial .content-wrapper{
    position: relative;

    width: 100%;
    max-width: 1800px;

    height: 100%;
    max-height: 800px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

#page-inicial .content-wrapper main {
    max-width: 350px;
    margin-left: 25PX;
}

#page-inicial .content-wrapper main h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

#page-inicial .content-wrapper main p{
    margin-top: 25px;
    font-size: 24px;
}
.content-wrapper .location{
    
    margin-top: 10PX;
    font-size: 24px;
    line-height: 34px;
    margin-left: 25PX;
    display: flex;
    flex-direction: column;

}

.content-wrapper .AMATUR{

    
    width: 350px;
    height: 350px;
    margin-top: -50PX;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    text-align: left;
}


.content-wrapper .location strong{
    font-weight: 800;
}

.content-wrapper .enter-app{
    position:absolute;
    right: 25px;
    bottom: 10px;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover{
    background: #ff4800;
}